/* &display=swap */
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

body{
	font-family: 'Roboto';
	font-size: 22px;
	font-weight: 400;
	line-height: 1.4;
	background-color: #666;
	color: #333;
}
.page__container{
	display: grid;
	grid-template-rows:repeat(4, auto);
	justify-content: center;
	row-gap: 2rem;
	padding: 2rem 0;
}
.section-lesson{
	display: none;
}
.javascript__title { 
	font-size: 52px;
	color: rgba(189, 183, 183, 0.822);
	text-align: center;
	padding: 2rem 0;
}
.javascript__block { 
	display: flex;
	flex-direction: column;
	column-gap: 40px;
	max-width: 1100px;
	background-color: #fff;
	padding: 1.5rem 1.5rem 1.5rem 2rem;
	border-radius: 2rem;
}
.subtitle { 
	font-size: 2rem;
	font-weight: 700;
	text-align:center;
	margin-bottom: 2rem;
	color: rgb(160, 105, 231);
	align-self: center;
}
.javascript__list{
	display: flex;
	flex-direction: column;
	row-gap: 0.6rem;
}
span{
	color: rgb(41, 149, 8);
}
